:root {
    --canvasSize: 50%;
    --canvasRendering: pixelated;
}

body {
    background-color: #505050;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.container #canvasSize {
    width: 300px;
}

#imageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#errors {
    color: #ff0000;
    font-weight: bold;
}

canvas {
    display: block;
    border: #ffffff54 4px solid;
    border-style: dashed;
    margin: 0 auto;
    width: var(--canvasSize);
    height: auto;
    image-rendering: var(--canvasRendering);
}

input[type="number"] {
    width: 40px;
}
